{% extends "blog/base.html" %}
{% block content %}
<h1>About The Site -</h1>
<p> First, let’s go over the basics.

    What’s a blog? A blog is a piece of written content that is published on a web page or site.

    The topics of blogs can vary from person to person or even business to business.

    The main purpose of blogs is to convey information in a way that is more informal or conversational than other
    long-form written content.
</p>
<p>

    So now, what is a blog website? And how does it differ from your company’s main website?

    A blog website is a site that is updated with new information on an ongoing basis. It normally consists of a
    collection of posts.

    Posts may be short, informal, controversial, or more professional.

    There are a couple of things that set a blog apart from a traditional website. The first is that blogs are updated
    consistently.

    Whether a brand updates their blog daily, weekly, or monthly, they will be putting new content up on the blog
    regularly for readers to engage with.
</p>
<p>
    With a traditional site, you may still find yourself updating content from time to time.

    But, for the most part, the content remains the same for longer periods of time.

    The other main difference between a blog and a traditional website is that blog content encourages engagement.

    While a traditional website page provides information for the visitor and encourages them to take a specific action.

    Blog content provides the option for readers to comment and ask questions on individual posts.

    That means that visitors are engaging with your blog posts in a different way than they are your main site pages.
</p>
{% endblock content %}